@import url('dark_light_mode.css');
/**Center Section **/

.section{
  min-height: 100vh;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  color: var(--aboutGreen);
}

.section.snp {
    background-color: var(--darkGreen);
    color: var(--aboutWhite);
}

.title-section{
    color: var(--darkGreen);
    font-size: 90px;
    font-weight: bold;
}

.row>*{
    padding-left: 0%;
    padding-right: 0%;
}

.text-styling{
    padding-left: 5%;
    padding-right: 5%;
}

/* Arrow */

.arrow {
    position: relative;
    margin-top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(360deg);
    cursor: pointer;
}

.arrow span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid var(--darkGreen);
    border-right: 5px solid var(--darkGreen);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

/** Animation **/

.reveal{
    font-size: 22px;
    position:relative;
    transform: translateY(-50px);
    opacity: 0;
    transition: 1s all ease;
}

.show-section{
    transform: translateY(0);
    opacity: 1;
}

/* Image */

.img-container{
position: relative;
width: 100%;
height: 100%;
}

.img-container img{
    width: 100%;
    height: 100%;
    mask-image: url("http://localhost/simpleCookingBlog/images/blobb.svg");
    -webkit-mask-image: url("http://localhost/simpleCookingBlog/images/blobb.svg");
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}


/***** Media *****/

@media only screen and (max-width: 992px) {
    .reveal{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .section{
        padding-top: 6%;
        padding-bottom: 6%;
    }

    .col-6{
        width: 100%;
    }

    .content-cont{
        padding-bottom: 20% !important;
    }
  }

  @media only screen and (max-width: 768px){
    .title-section{
        font-size: 70px;
    }

    .col-6{
        width: 100%;
    }

    .content-cont{
        padding-bottom: 35% !important;
    }
  }

