@import url('dark_light_mode.css');
/***** Media *****/

@media only screen and (max-width: 992px) {
    .main-container{
        padding-bottom: 20% !important;
    }
  }

  @media only screen and (max-width: 768px){

    .main-container{
        padding-bottom: 35% !important;
    }

    .little-card{
        margin-left: 0% !important;
        margin-right: 0% !important;
    }

    .elem{
        margin: 0;
        padding: 0;
    }

    .img-card{
        height: 280px;
    }
  }

  @media all and (width: 768px){

    .little-card{
        margin-left: 10% !important;
        margin-right: 10% !important;
    }
}

  /** MAIN **/

.main-container{
    padding-bottom: 5%;
    margin-top: 3%;
    padding-left: 4%;
    padding-right: 4%;
    color: var(--main-color);
  }

  /** Category title **/

.parent{
    height: 100%;
    margin-left:5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }

#child_background{
    height: 300px;
    background-position: center;
    mask-image: url("http://localhost/simpleCookingBlog/images/titleShape.svg");
    -webkit-mask-image: url("http://localhost/simpleCookingBlog/images/titleShape.svg");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
    align-content: center;
    transition: 1s ease;
  }

#child_background:hover{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

h1{
    position: relative;
    height: 60px;
    top: -170px;
    left: 0;
    right: 0;
    bottom: 0;
    color: #EDEDED;
    text-shadow: 1px 2px 2px #3b3b3b4f;
}

  /** Cards **/

.little-card{
    background-color: var(--white);
    box-shadow: 6px 6px 6px -6px var(--boxShadow);
    margin-left: 10%;
    margin-right: 10%;
}

.img-card{
    height: 190.925px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-top-left-radius: var(--bs-card-inner-border-radius) !important;
    border-top-right-radius: var(--bs-card-inner-border-radius) !important;
}

.img-card img{
    transition: .5s ease;
}

.img-card:hover img{
    transform: scale(1.5);
}

.img-card:hover{
    border-top-left-radius: var(--bs-card-inner-border-radius) !important;
    border-top-right-radius: var(--bs-card-inner-border-radius) !important;
}

.date{
    color: var(--card-date) !important;
}

.card-title{
color: var(--card-title) !important;
}

.card-subtitle{
    color: var(--little-card-subtitle) !important;
}

