body{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #faf9f7;
}

h3{
    color: #18604a;
}

/* NAVBAR */

.color-nav{
    height: 10%;
    background-color: #ECEADF !important;
}

.logo{
    transition: transform .4s ease-in-out;
}

.logo:hover{
    
    transform: rotate(180deg);
}

.btn-success{
    background-color: #257157;
}

.btn-success:hover, .btn-success:focus{
    background-color: #18604a;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #bed5be;
    color: #ffffff;
}

.block-menu:hover .sub-menu{
    display: block;
    margin-left: 100%;
    margin-top: -22%;
}

 /***** Navabar Links *****/

 .login-link{
    white-space: nowrap;
    position: relative;
    text-align: center;
}

input:focus-visible{
    outline: none ;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(50, 154, 78, 0.6);
}

.login-link::after{
    content: "";
    position: absolute;
    background-color: #257157;
    box-shadow: 0 2px 5px rgba(108, 110, 109, 0.762);
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
}

.login-link:hover:after{
width: 100%;
}

.login-link:active:after{
    color:black;
    width: 100%;
}

/***** Media *****/

@media only screen and (max-width: 992px) {
    .block-menu:hover .sub-menu{
        display: block;
        margin-left: 0%;
        margin-top: 0%;
    }

    .login-link::after{
        content: "";
        position: absolute;
        background-color: #257157;
        box-shadow: 0 2px 5px rgba(9, 121, 73, 0.762);
        height: 2px;
        width: 0%;
        margin-left: 25%;
        bottom: -2px;
        transition: 0.3s;
    }

    .login-link:hover:after{
        width: 50% !important;
        margin-left: 25%;
        }

    .searchForm{
        justify-content: center !important;
        padding-bottom: 1%;
    }

    .main-container{
        padding-bottom: 20% !important;
    }

    .footer-elem{
        margin-bottom: 2%;
    }
  }

  @media only screen and (max-width: 768px){

    .main-container{
        padding-bottom: 35% !important;
    }

  }

  /** MAIN **/

  .main-container{
    padding-bottom: 8%;
    margin-top: 3%;
    padding-left: 4%;
    padding-right: 4%;
  }

  /** Form style**/

  .form-control:focus, .form-select:focus{
    border-color: #ababab;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #ECEADF;
  }

  /** Title **/

  h6{
    color: #6b6b6b;
  }

  /** Star Rating **/

 .star_rating{
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
    list-style: none;
 }

  .star_rating li{
    -webkit-text-stroke: 1px #18604a;
    color: #ffffff;
    float: right;
    padding-right: 1%;
  }

  .star_rating li:hover, 
  .star_rating li:hover ~ li{
        color: #18604a;
        cursor: pointer;
  }

  .star{
    color: #ffffff;
  }

  .selected{
    color: #18604a !important;
  }

  li label{
    cursor: pointer;
  }

  li label input[type="radio"]{
    display: none;
  }

  /** List of ingredients **/

  .ingredients, .category, .difficult{
    background-color: #ffffff;
    border-radius: 12px;
    border: 1px solid #dfdfdf;
    padding-top: 0.5%;
  }

  .ingredient{
    width: 100% !important;
    display: flex;
    margin: 0;
    padding: 0;
    padding-bottom: 0.2rem;
    align-items: center;
  }

  .ingredient input[type="text"]{
    border: none;
    border-bottom: 1px solid #bababa;
    color: #000000c0;
    transition: all 0.5s;
    width: 80%;
  }

  .ingredient input[type="text"]:focus-visible{
    box-shadow: none;
    border-bottom: 1px solid #3b3b3b;
    color: #bababa;
  }

  .ingredient i{
    width: 10%;
  }

  .bi-x{
    color: #3b3b3b;
    font-weight: bold;
    -webkit-text-stroke: 1px;
    transition: all 0.5s;
  }

  .bi-x:hover{
    cursor: pointer;
    color: #e50000;
  }

  /** Add ingredient**/

  .bi-plus{
    font-weight: bold;
    -webkit-text-stroke: 1px;
  }

  .add_ingredient{
    padding-top: 3px;
    color: #3b3b3b;
    transition: 0.5s;
  }

  .add_ingredient:hover{
    color: #bababa;
    cursor: pointer;
  }

  /** Category **/

  input[type="radio"]{
    accent-color: #257157;
    color: #6b6b6b;
  }

  .left-cat{
    width: 50%;
  }

  .right-cat{
    width: 50%;
  }

  /** Time and Portion**/
  .bi-clock-fill, .bi-pie-chart-fill{
    color: #18604a;
  }

  .form-select {
    transition: 0.5s;
}

.form-select:focus {
    color: #bababa;
}

 /***** Footer *****/ 

 .footer{
    background-color: #18604a;
    color:rgb(215, 215, 215);
    text-align: center;
    font-size: small;
    box-shadow: 0px -1px 9px 2px #666666ca;
    width: 100%;
    padding-top: 1%;
    display: flex;
    justify-content: center;
    position: absolute;
    clear:both;
    bottom: 0;
}

.footer-elem{
    align-content: center;
}

.nolink{
    color: rgb(215, 215, 215);
    text-decoration: none;
}

.nolink:hover{
    color: rgb(255, 255, 255);
}

.smLink{
    color: rgba(215, 215, 215);
    margin: 1%;
    font-size: 120% !important;
    transition: 0.3s;
}

.smLink:hover{
    transition: 0.3s;
    color: rgb(255, 255, 255);
    margin: 4%;
    font-size: 160% !important;
}