@import url('dark_light_mood.css');

/***** Media *****/

/* LG */
@media only screen and (min-width: 992px) {
.col-lg-2x {
  flex: 0 0 auto;
  width: 23.66666667%;
}
}

/* MD */
@media only screen and (max-width: 991.98px) {

    .main-container{
        padding-bottom: 20% !important;
    }

     /* Recipe */

  #floatingTextarea{
    min-height: 308px !important;
  }
    /* Category & Difficult */
    .category, .difficult{
      margin-right: 0.1rem !important;
      margin-left: 0.1rem !important;
      height: auto !important;
      display: flex;
      align-content: center;
    }

    .category{
      width: 60%;
    }

    .difficult{
      width: 30%;
    }

    .right-section{
      display: flex;
      justify-content: space-between;
    }
  }

  /* SM */

  @media only screen and (max-width: 768px){

    .main-container{
        padding-bottom: 35% !important;
    }

    /* Category & Difficult */

    .category{
      width: 100%;
    }

    .difficult{
      width: 100%;
    }

    .right-section{
      display: block !important;
      justify-content: unset;
    }
  }

  /* XS */
  @media only screen and (max-width: 576px){

    .main-container{
        padding-bottom: 35% !important;
    }
  }

  /** MAIN **/

  .main-container{
    padding-bottom: 6%;
    margin-top: 3%;
    padding-left: 4%;
    padding-right: 4%;
  }

  /** Form style**/

  .form-control:focus, .form-select:focus{
    border-color: var(--light-grey);
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--navbarColor);
  }

  /** Title **/

  h6{
    color: #6b6b6b;
  }

  /* Recipe */

  #floatingTextarea{
    min-height: 220px;
  }

  /** Star Rating **/

 .star_rating{
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
    list-style: none;
 }

  .star_rating li{
    -webkit-text-stroke: 1px var(--darkGreen);
    color: var(--white);
    float: right;
    padding-right: 1%;
  }

  .star_rating li:hover, 
  .star_rating li:hover ~ li{
        color: var(--darkGreen);
        cursor: pointer;
  }

  .star{
    color: var(--white);
  }

  .selected{
    color: var(--darkGreen) !important;
  }

  li label{
    cursor: pointer;
  }

  li label input[type="radio"]{
    display: none;
  }

  /** List of ingredients **/

  .ingredients, .category, .difficult{
    background-color: var(--white);
    border-radius: 12px;
    border: 1px solid #dfdfdf;
    padding-top: 0.5%;
  }

  .ingredient{
    width: 100% !important;
    display: flex;
    margin: 0;
    padding: 0;
    padding-bottom: 0.2rem;
    align-items: center;
  }

  .ingredient input[type="text"]{
    border: none;
    border-bottom: 1px solid var(--light-grey);
    color: #000000c0;
    transition: all 0.5s;
    width: 80%;
  }

  .ingredient input[type="text"]:focus-visible{
    box-shadow: none;
    border-bottom: 1px solid var(--dark-grey);
    color: var(--light-grey);
  }

  .ingredient i{
    width: 10%;
  }

  .bi-x{
    color: var(--dark-grey);
    font-weight: bold;
    -webkit-text-stroke: 1px;
    transition: all 0.5s;
  }

  .bi-x:hover{
    cursor: pointer;
    color: #e50000;
  }

  /** Add ingredient**/

  .bi-plus{
    font-weight: bold;
    -webkit-text-stroke: 1px;
  }

  .add_ingredient{
    padding-top: 3px;
    color: var(--dark-grey);
    transition: 0.5s;
  }

  .add_ingredient:hover{
    color: var(--light-grey);
    cursor: pointer;
  }

  /** Category **/

  input[type="radio"]{
    accent-color: var(--lightGreen);
    color: #6b6b6b;
  }

  .left-cat, .right-cat{
    width: 50%;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
  }

  /** Time and Portion**/
  .bi-clock-fill, .bi-pie-chart-fill{
    color: var(--darkGreen);
  }

  .form-select {
    transition: 0.5s;
}

.form-select:focus {
    color: var(--light-grey);
}

 