
/***** Media *****/

@media only screen and (max-width: 992px) {
    
    .main-container{
        padding-bottom: 22% !important;
    }
  }

  @media only screen and (max-width:768px){
    .main-container{
        padding-bottom: 35% !important;
    }

    .little-card{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .elem{
        padding: 0%;
    }
  }

  @media all and (width: 768px){

    .little-card{
        margin-left: 10% !important;
        margin-right: 10% !important;
    }
}

  @media only screen and (max-width:1096px) {
    .big-card{
        flex-wrap: wrap !important;
        justify-content: center !important;
    }

    .card-left{
        width: 100% !important;
    }
  }
  

/***** Cards *****/

.main-container{
    padding-bottom: 8%;
    margin-top: 3%;
    padding-left: 4%;
    padding-right: 4%;
}

.big-card{
    box-shadow: 6px 6px 6px -6px #666;
}

.card-left{
    width: 100%;
}

.card-right{
padding-top: 3%;
padding-right: 2%;
}

.img-big{
max-height: 450px;
height: 100%;
}

.start-text{
    text-wrap: wrap;
    text-align: justify;
}

.ct-bg a{
    color: #2f8b6b !important;
    text-decoration: none;
    }
    
.cst-bg{
    color:#849992 !important;
    }

.little-card{
    box-shadow: 6px 6px 6px -6px #666;
    margin-left: 10%;
    margin-right: 10%;
}

.img-card{
    height: 190.925px;
    overflow: hidden;
    border-top-left-radius: var(--bs-card-inner-border-radius) !important;
    border-top-right-radius: var(--bs-card-inner-border-radius) !important;
}

.img-card img{
    transition: .5s ease;
}

.img-card:hover img{
    transform: scale(1.5);
}

.img-card:hover{
    border-top-left-radius: var(--bs-card-inner-border-radius) !important;
    border-top-right-radius: var(--bs-card-inner-border-radius) !important;
}

.date{
    color:#999999 !important;
}

.card-title{
color: #4b4b4b !important;
}

.card-subtitle{
    color:#666 !important;
}

