@import url('dark_light_mood.css');

/***** Media *****/


/* MD */
@media only screen and (max-width: 991.98px) {
     /* Main */
    
    .main-container{
        padding-bottom: 25% !important;
    }

    h4{
        text-align: center;
    }

    /* Side Panel */

    .manage{
        display: flex;
    }

    .manage a{
        width: 25%;
    }
}

/* SM */
@media only screen and (max-width: 768px) {
    
    .main-container{
        padding-bottom: 30% !important;
    }
}

/* XS */
@media only screen and (max-width: 576px) {
    
    .main-container{
        padding-bottom: 35% !important;
    }

    .manage{
        display: block;
    }

    .manage a{
        width: 100%;
    }

}

  /** MAIN **/

  .main-container{
    padding-bottom: 6%;
    margin-top: 3%;
    padding-left: 4%;
    padding-right: 4%;
    color: var(--main-color);
  }

 h4{
    color: rgba(0, 0, 0, 0.75);
  }

/** Side Panel **/

  .manage-panel{
    color: var(--navbarColor);
    background-color: var(--lightGreen);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100px;
  }

   a .manage-panel:hover{
    cursor: pointer;
    background-color: var(--darkGreen);
  }

   a .manage-panel.active{
    cursor:default;
    background-color: var(--darkGreen);
    color: #d8d7ce;
  }

  .manage{
    box-shadow: 6px 6px 6px -6px var(--boxShadow);
  }

  .manage a{
    text-decoration: none;
  }

/** Table **/

  .info-table {
    max-height: 400px; 
    overflow-y: auto;
    position: relative;
  }

  th, td{
    padding: 8px;
    text-align: left;
    border-bottom: var(--table-border) 1px solid;
  }

  /* striped table */
  tr:nth-child(odd) {
    background-color: var(--odd-bg-color);
    }

  tr:nth-child(even) {
    background-color: var(--navbarColor);
    }

  /* Style for thead */
  .sticky-header th {
    position: sticky;
    top: 0;
    background-color: var(--navbarColor);
    border-bottom: 1px solid #b4b4b4;
    color: rgba(0, 0, 0, 0.65);
  }

  /** Button **/
  .btn-danger{
    background-color:  var(--btn-danger);
  }

  .btn-danger:hover{
    background-color: var(--btn-danger-hover);
  }

  .btn-secondary{
    background-color: #666666e3;
  }

  .btn-secondary:hover{
    background-color: #666;
  }
