@import url('dark_light_mood.css');
body{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: var(--backgroundColor);
}

h3{
    color: var(--darkGreen);
}

/* NAVBAR */

.color-nav{
    height: 10%;
    background-color: var(--navbarColor) !important;
}

.logo{
        transition: transform .4s ease-in-out;
}

.logo:hover{
    
    transform: rotate(180deg);
}

.btn-success{
    background-color: var(--lightGreen);
}

.btn-success:hover, .btn-success:focus{
    background-color: var(--darkGreen);
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #bed5be;
    color: #ffffff;
}

.block-menu:hover .sub-menu{
    display: block;
    margin-left: 100%;
    margin-top: -22%;
}

 /***** Navabar Links *****/

 .login-link{
    white-space: nowrap;
    position: relative;
    text-align: center;
    color: var(navlink);
}

input:focus-visible{
    outline: none ;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(50, 154, 78, 0.6);
}

.login-link::after{
    content: "";
    position: absolute;
    background-color: var(--lightGreen);
    box-shadow: 0 2px 5px rgba(108, 110, 109, 0.762);
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
}

.login-link:hover:after{
width: 100%;
}

.login-link:active:after{
    color: var(activnavLink);
    width: 100%;
}


/***** Footer *****/ 

.footer{
    background-color: var(--darkGreen);
    color: var(--footerText);
    text-align: center;
    font-size: small;
    box-shadow: 0px -1px 9px 2px var(boxShadow);
    width: 100%;
    padding-top: 1%;
    display: flex;
    position: absolute;
    bottom: 0;
}

.footer-elem{
    align-content: center;
}

.nolink{
    color: var(--footerText);
    text-decoration: none;
}

.nolink:hover{
    color: var(--footerHoverText);
}

.smLink{
    color: var(--footerText);
    margin: 1%;
    font-size: 120% !important;
    transition: 0.3s;
}

.smLink:hover{
    transition: 0.3s;
    color: var(--footerHoverText);
    margin: 4%;
    font-size: 160% !important;
}

/***** Media *****/

/* MD */
@media only screen and (max-width: 992px) {
    .block-menu:hover .sub-menu{
        display: block;
        margin-left: 0%;
        margin-top: 0%;
    }

    .login-link::after{
        content: "";
        position: absolute;
        background-color: var(--lightGreen);
        box-shadow: 0 2px 5px rgba(9, 121, 73, 0.762);
        height: 2px;
        width: 0%;
        margin-left: 25%;
        bottom: -2px;
        transition: 0.3s;
    }

    .login-link:hover:after{
        width: 50% !important;
        margin-left: 25%;
        }

    .searchForm{
        justify-content: center !important;
        padding-bottom: 1%;
    }

    .footer-elem{
        margin-bottom: 2%;
    }
  }

  