@import url('dark_light_mode.css');
/***** Media *****/

@media only screen and (max-width: 992px) {
    .main-container{
        padding-bottom: 20% !important;
    }
  }

  @media only screen and (max-width: 768px) {

    .main-container{
        padding-bottom: 35% !important;
    }

    .little-card{
        margin-left: 0% !important;
        margin-right: 0% !important;
    }

    .img-card{
        height: 280px;
    }

    .elem{
        padding: 0%;
    }

    .search-txt, .search-none{
        font-size: 110% !important;
  }
}

@media all and (width: 768px){

    .little-card{
        margin-left: 10% !important;
        margin-right: 10% !important;
    }
}

  /** MAIN **/

  .main-container{
    padding-bottom: 0%;
    margin-top: 3%;
    padding-left: 4%;
    padding-right: 4%;
    color: var(--main-color);
  }

  /** Search **/

.search-panel{
background-color: var(--white);
border: 3px solid var(--darkGreen);
border-radius: 20px 20px 20px 20px;
box-shadow: 6px 6px 6px -6px var(--boxShadow);
}

input[type="search"] {
    outline: none;
    border: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none;
}

input[type="search"]::-webkit-search-cancel-button{
    display: none;
}

.search-none{
    font-size:150%;
    color:#7c7c7c
}

.search-txt{
width: 80%;
color: #7c7c7c;
font-size: 150%;
text-transform: uppercase;
padding-left: 3%;
}

.search-panel button{
    background-color: transparent;
    outline: none;
    border: none;
}

.search-icon{
    cursor: pointer;
    color: var(--darkGreenBut);
    font-size: 150%;
    -webkit-text-stroke: 2px var(--darkGreenBut);;
}

  /** Cards **/

  .little-card{
    box-shadow: 6px 6px 6px -6px var(--boxShadow);
    margin-left: 10%;
    margin-right: 10%;
    background-color: var(--white);
}

.img-card{
    height: 190.925px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-top-left-radius: var(--bs-card-inner-border-radius) !important;
    border-top-right-radius: var(--bs-card-inner-border-radius) !important;
}

.img-card img{
    transition: .5s ease;
}

.img-card:hover img{
    transform: scale(1.5);
}

.img-card:hover{
    border-top-left-radius: var(--bs-card-inner-border-radius) !important;
    border-top-right-radius: var(--bs-card-inner-border-radius) !important;
}

.date{
    color:var(--card-date) !important;
}

.card-title{
color: var(--card-title) !important;
}

.card-subtitle{
    color:var(--little-card-subtitle) !important;
}

 