body{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(
            to top,
            #faf9f7 0%,
            #faf9f7 50%,
            #257157 50%,
            #257157 100%
    );
    display: flex;
}

.login{
    margin-top: 5%;
    background: white;
    box-shadow: 6px 6px 6px -6px #666;
    padding: 5%;
    align-items: center;
    justify-content: center;
}

h3{
    color: #18604a;
    text-align: center;
}

.form1{
    position: center;
}

.fp{
    text-decoration: none;
    color: #aeabab;
    float: right;
    font-size:small;
}

/** Alerts and warrnings **/

.alert-danger {
    --bs-alert-color: #dc3545;
    --bs-alert-bg: rgba(255,255,255,0);
    --bs-alert-border-color: #b02a37;
    --bs-alert-link-color: #b02a37;
}

.btn-close {
    --bs-btn-close-color: #fff;
    --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23b02a37'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
    --bs-btn-close-opacity: 0.8;
    --bs-btn-close-hover-opacity: 1;
    --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgb(253 13 13 / 25%);
    --bs-btn-close-focus-opacity: 1;
    --bs-btn-close-disabled-opacity: 0.25;
    --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: var(--bs-btn-close-color);
    background: transparent var(--bs-btn-close-bg) center/1em auto no-repeat;
    border: 0;
    border-radius: 0.375rem;
    opacity: var(--bs-btn-close-opacity);
}

.wrong-alert{
    color: #af3535;
    font-size:small;
    text-align: left;
    padding-left: 1%;
}

.alert-hidden{
display: none;
}

/** Buttons **/

.btn-success{
    background-color: #257157;
    border-color: #257157;
}

.btn-success:hover{
    background-color: #18604a;
    border-color: #18604a;
}

/** Inputs **/

input[type='checkbox'] {
    height: 15px;
    width: 15px;
}

input[type='checkbox']:checked {
    background-color: #257157;
    border-color: #18604a;
    height: 15px;
    width: 15px;
}

.form-check-input:focus{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(4, 168, 47, 0.6);
}

.form-control:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(4, 151, 43, 0.6);
}

.checkBtn{
color:#666;
font-size:small;
}

.fp:hover{
    text-decoration: underline;
    color: #827f7f;
    float: right;
    cursor: pointer;
}

.bg-lightgreen{
    background-color: lightgreen;
}

#passStr{
    margin-top: 2%;
    margin-bottom: 2%;
    height: 5px !important;
}

#eyeButton{
    position: absolute;
    top:20%;
    right: 7%;
    font-size: 120%;
}

#eyeButton1{
    position: absolute;
    top:10%;
    right: 7%;
    font-size: 120%;
}

.eyeButton2{
    position: absolute;
    top:10% !important;
    right: 7%;
    font-size: 120%;
}

#infoButton{
    position: absolute;
    top:30%;
    right: 7%;
    font-size: 100%;
}

.bi-info-circle{
    cursor: pointer;
    color: #6ab29c;

}

.bi-eye-fill{
    cursor: pointer;
    color:#6ab29c;
}

.footter{
    margin: auto;
    margin-top: 5.5%;
    text-align: center;
    clear: both;
    color: hsl(162, 60%, 24%);
}
