body{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(
            to top,
            #faf9f7 0%,
            #faf9f7 50%,
            #257157 50%,
            #257157 100%
    );
    display: flex;
}

.login{
    margin-top: 5%;
    background: white;
    box-shadow: 6px 6px 6px -6px #666;
    padding: 5%;
    align-items: center;
    justify-content: center;
}

h3{
    color: #18604a;
    text-align: center;
}

.form1{
    position: center;
}

.fp{
    text-decoration: none;
    color: #aeabab;
    float: right;
    font-size:small;
}

.wrongEmail{
    color: #af3535;
    font-size:small;
    text-align: left;
    padding-left: 1%;
}

.btn-success{
    background-color: #257157;
    border-color: #257157;
}

.btn-success:hover{
    background-color: #18604a;
    border-color: #18604a;
}

input[type='checkbox'] {
    height: 15px;
    width: 15px;
}

input[type='checkbox']:checked {
    background-color: #257157;
    border-color: #18604a;
    height: 15px;
    width: 15px;
}

.form-check-input:focus{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(4, 168, 47, 0.6);
}

.form-control:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(4, 151, 43, 0.6);
}

.checkBtn{
color:#666;
font-size:small;
}

.fp:hover{
    text-decoration: underline;
    color: #827f7f;
    float: right;
    cursor: pointer;
}

.bg-lightgreen{
    background-color: lightgreen;
}

#passStr{
    margin-top: 2%;
    margin-bottom: 2%;
    height: 5px !important;
}

#eyeButton{
    position: absolute;
    top:20%;
    right: 7%;
    font-size: 120%;
}

#eyeButton1{
    position: absolute;
    top:10%;
    right: 7%;
    font-size: 120%;
}

.eyeButton2{
    position: absolute;
    top:10% !important;
    right: 7%;
    font-size: 120%;
}

#infoButton{
    position: absolute;
    top:30%;
    right: 7%;
    font-size: 100%;
}

.bi-info-circle{
    cursor: pointer;
    color: #6ab29c;

}

.bi-eye-fill{
    cursor: pointer;
    color:#6ab29c;
}

.footter{
    margin: auto;
    margin-top: 5.5%;
    text-align: center;
    clear: both;
    color: hsl(162, 60%, 24%);
}
